<nav class="nav">
    <div class="nav-logo">
        <img src="Logos/logo_CY_Love.svg" alt="Logo CY Love" height="70px" onclick="document.location='login.php'" style="cursor: pointer;">
    </div>
    <div class="nav-button">
        <button class="btn white-btn" onclick="window.location.href='login.php'">Se connecter</button>
        <button class="btn" onclick="window.location.href='register.php'">S'inscrire</button>
    </div>
    <div class="menu-btn" id="menu-btn" onclick="myMenuFunction()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <div class="nav-menu" id="navMenu">
        <ul>
            <li><a href="#" class="link active">Menu Principal</a></li>
            <li><a href="personal-account.php" class="link">Compte</a></li>
            <li><a href="#" class="link">Blog</a></li>
            <li><a href="#" class="link">Services</a></li>  
            <li><a href="#" class="link">A propos</a></li>
        </ul>
    </div>
</nav>
<script>
    function myMenuFunction() {
        var i = document.getElementById("menu-btn");
        var j = document.getElementById("navMenu");
        if(i.className === "menu-btn") {
            i.className += " responsive";
            j.className += " responsive";
        } else {
            i.className = "menu-btn";
            j.className = "nav-menu";
        }
    }
</script>